@import url('https://fonts.googleapis.com/css2?family=Fredericka the Great&family=Roboto&family=Roboto+Condensed&display=swap');
/* start global  */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #eee;
	overflow-x: hidden;
}
body{
	width: 100%;
	height: 100%;
	background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.9)), url("../img/7.jpg") center no-repeat fixed; 
	background-size: cover;
}
a{
	text-decoration: none;
	color: #eee;
}
p{
	font-size: 1.8rem;
	font-weight: 300;
}
img{
	width: 100%;
	border-radius: 10px;
}
/* End Global    */


/* Start reusable */
.container{
	width: 90%;
	max-width: 120rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
section{
	margin-bottom: 12rem;
}

.section-heading{
	text-align: center;
	margin-bottom: 8rem;
	
}
.section-heading h1{
	font-size: 3.5rem;
	color: rgba(255,255,255, .3);
	text-transform: uppercase;
	font-weight: 400;
	position: relative;
	margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
	content: '';
	position: absolute;
	bottom: -.5rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(255,255,255,0.75);
}
.section-heading h1::before{
	width: 10rem;
	height: 3px;
	border-radius: .8rem;
}
.section-heading h1::after{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	bottom: -1rem;
}
.section-heading h6{
	font-size: 1.6rem;
	font-weight: 400;
}
.has-margin-right{
	margin-right: 5rem;
}
/* End reusable */



/* Start header */
header{
	width: 100%;
	height: 100vh;


}
.top-nav{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: -100vh;
	z-index: 50;
	background: rgba(8, 8, 8, 0.95);
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	transition: all 650ms cubic-bezier(1,0,0,1);
	
}
 .nav-list{
	list-style: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom: 2px solid rgba(255, 255, 255, 0.87);
}
.top-nav li{
	margin: 2rem 2rem;
	border-bottom: 2px solid rgba(255, 255, 255, 0.87);
}
.nav-link{
	font-family: 'Italianno', cursive;
	font-size: 5rem;
	padding: 1rem;
}
.nav-link:hover,
.nav-link:focus{
	background: linear-gradient(to right, #76de76, #269aef);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.active{
	background: linear-gradient(to right, #76de76, #269aef);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-bottom: 2px solid orange;
	transition: all .6s;
	
}
 .open.top-nav {
	top: 0;
	border-radius: initial;
}
.menu-toggler{
	position:fixed;
	top: 5rem;
	right: 5rem;
	width: 5rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1500;
	transition: transform 650ms ease-out;
	
}

 .open.menu-toggler {
	transform: rotate(-45deg);
}
.bar{
background: linear-gradient(to right, #76de76, #269aef);
width: 100%;
height: 4px;
border-radius: .8rem;
}


.bar.half{
	width: 100%;
}
.open .bar.half{
	width: 50%;
}

.bar.start{
	transform-origin: right;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57,0.57);
}
.open .bar.start{
	transform: rotate(-450deg) translateX(.8rem);
}
.bar.end{
	align-self: flex-end;
	transform-origin: left;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57,0.57);
}
.open .bar.end{
	transform: rotate(-450deg) translateX(-.8rem);
}
.landing-text{
	position: absolute;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	top: 25rem;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.front2 img{
	width:300px;
	height:auto;
	border-radius: 10px;
	margin-left: 50px;
	opacity: .6;
}
.landing-text h1{
	font-size: 7rem;
	font-family: 'Roboto condensed', sans-serif;
	background: linear-gradient(to right, #76de76, #269aef);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 10px 10px 55px hsl(258, 100%, 25%), -10px -10px 55px hsl(258, 100%, 25%);
	padding: 1rem;
	user-select: none;
}
.landing-text h6{
	font-size: 2rem;
	font-weight: 300;
	opacity: 0;
	animation: fadeUp .5s forwards;
	animation-delay: .5s;
}
.landing-text a{
	text-decoration: none;
}
.landing-text .btn{
	position: relative;
	margin-top: 30px;
	margin-left: 20px;
	padding: 10px;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	width: 120px;
	border-radius: 10px;
	border: 1px solid #00e2ff;
	background: transparent;
	color: #fff;
	overflow: hidden;
}
.landing-text .btn::before{
	position: absolute;
	content: '';
	top:0;
	left: -100%;
	width: 100%;
	height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, .3)), transparent;
	transition: all 400ms;
	
}
.landing-text .btn:hover::before{
	left:100%;
}

/* End header */


/* Start about */
.about{
	margin-top: 2rem;
}

.about .container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.about-heading{
	text-align: center;
	text-transform: uppercase;
	line-height: 0;
	margin-bottom: 6rem
}
.about-heading h1{
	font-size: 10rem;
	opacity: .3;
}
.about-heading h6{
	font-size: 2rem;
	font-weight: 400;
}
.profile-img{
	flex: 1;
	margin-right: 1.2rem;
	margin-top: 1rem;
	

}
.about-details{
	flex: 1;
}
.social-media{
    margin-top: 4rem;
}
.about-details .nav-list{
	border: none;
	 list-style: none;
	flex-direction: initial;
}
 .social-media .nav-list i{
	font-size: 5rem;
	transition: color 650ms;
	 margin-right:3rem;
}
.fa-facebook-square:hover{
	color: #4267b2;
}
.fa-twitter-square:hover{
	color: #38a1f3;
}
.fa-dribbble-square:hover{
	color: #ea4c89;
}
/* End about */

/* Start services */

.my-skills{
	margin-bottom: 10rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
	text-align: center;
	
}
.skill{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
.skill h1{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 2rem -2px 2rem 0;
}
.icon-container{
	width: 10rem;
	height: 10rem;
	border: 3px solid#f78b1f;
	background-color: #84ff08;
	margin-bottom: 2rem;
	display: flex;
	border-radius: 50%;
}
.icon-container i{
	color: #f78b1f;
	font-size: 5rem;
	margin: auto;
	
}

/* End services */

/* Start portfolio */

.portfolio-item{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5rem;
}
.portfolio-item:last-child{
	margin-bottom: 0;
}
.portfolio-img{
	flex: 1;
}
.portfolio-description{
	flex: 1;
}
.portfolio-description h1{
	font-size: 3rem;
	font-weight: 400;
	margin: 1rem 0;
}
.portfolio-description h6{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 400;
	opacity: 0.3;
}
.portfolio-description .cta{
	display: inline-block;
	margin-top: 2.5rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #84ff08;
	transition: color 650ms;
}
.portfolio-description .cta:hover{
	color: #f78b1f;
}

/* End portfolio */

/* Start experience */
 .timeline ul{
	border-left: 4px solid #f78b1f;
	border-radius: .8rem;
	background-color: rgba(0,0,0,.5);
	 margin: 0 auto;
	 position: relative;
	 list-style: none;
	 text-align: center;
	 width: 70%;
	 margin-right:0rem;
}
.timeline h1{
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 1rem;
	opacity: .3;
	
}
.timeline .date{
	border-bottom: 3px solid rgba(255,255,255,0.1);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	position: relative;
}
.timeline .date:last-of-type{
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}
.timeline .date::before,
.timeline .date::after{
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}
.timeline .date::before{
	content: attr(data-date);
	left: -16rem;
	text-align: center;
	min-width: 12rem;
	font-size: 1.5rem;
}
.timeline .date::after{
	content: '';
	box-shadow: 0 0 0 4px #84ff08;
	border-radius: 100%;
	left: -2.9rem;
	height: 1.5rem;
	width: 1.5rem;
	background-color: #313534;
}

/* End experience */


/* Start contact */
.contact{
	background-color: rgba(34, 30, 63, 0.58);
	padding-top: 6rem;
	padding-bottom: 4rem;
	
}
form{
	width: 70%;
	margin: 0 auto;
}
form label{
	font-size: 1.8rem;
	color: #84ff08;
	padding-bottom: 5px;
}
input,select,textarea{
	width: 100%;
	padding: 1rem;
	margin-bottom:1.5rem;
	border: none;
	outline-color: #84ff08;
	color: rgba(180, 180, 180, 0.9);
}
input[type="submit"]{
	width: initial;
	background-color:  #84ff08;;
	color: #000;
	padding: 1rem 2rem;
	border-radius: .8rem;
	cursor: pointer;
	transition: background-color 650ms;
	
	
}
input[type="submit"]:hover{
	color: #221e3f;
	background-color: #f78b1f;
}
/* End contact */


/* Start footer */
.copyright{
	width: 100%;
	text-align: center;
	padding: 2em 0;
	position: relative;
}
.up{
	position:absolute;
	width: 5rem;
	height: 5rem;
	background: #eee;
	top: -12.5rem;
	right: 5rem;
	border-radius: 100%;
	animation: pulse 2s infinite;
	
}
.up i{
	color: #16162d;
	font-size: 2rem;
	margin:  auto;
	padding-top: 14px;
	cursor: pointer;
}
.copyright p{
	font-size: 1.8rem;
}
/* End footer */

.top-nav2{
	position: fixed !important;
	background: #000 !important;
	border-bottom: 2px solid #fff;
	transition: all .6s ease;
}

/* Start animation */
@keyframes pulse{
	0%{
		box-shadow: 0 0 0 0 #84ff08;
	}
	70%{
		box-shadow: 0 0 0 2rem #84ff08;
	}
	100%{
		box-shadow: 0 0 0 2rem #84ff08;
	}
}
/* End animation */
@keyframes fadeUp{
	0%{
		transform: translateY(4rem);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
	
}
@keyframes fadeDown{
	0%{
		transform: translateY(-1rem);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
	
}
 
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:green; }
}


/* media queries */
@media (min-width:920px){
	.menu-toggler{
		display: none;
	}
	.top-nav{
	position: initial;
    height: 120px;
	top: 0;
	z-index: 50;
   padding-top: 12px;
	background: none;
}
 .nav-list{
	display:flex;
	 justify-content: center;
	 align-items:initial;
	flex-direction: row;
	 border-bottom: none;
}
	.top-nav li{
	margin: 2rem 1rem;
   border-bottom: none;
}
.nav-link{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3rem !important;
	padding: 1rem;
	color: #fff;
	opacity: .9;
	transition: all .6s ease-in;

}
	.nav-link:hover{
		border-bottom: 2px solid orange;
		
	}
}
@media (max-width: 920px){
	header{
		margin-bottom: 180px;
	}
	.landing-text{
		flex-direction: column;
	}
	.landing-text h1{
		font-size: 7rem;
	}
	.front{
		margin-bottom: 20px;
	}
	
	.front2 img{
		width: 350px;
	}
	
}
@media(min-width:769px){
	
	.timeline .date{
     padding-left: 20px;
}
	.timeline .date::before{
	left: -12rem;
}
	.nav-link{
		font-size: 3.5rem;
		
	}
.timeline .date::after{
	left: -.9rem;
}
	.landing-text h1{
	 overflow: hidden; /* Ensures the content is not revealed until the animation */
	  white-space: nowrap; /* Keeps the content on a single line */
	  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	  /* Adjust as needed */
	  animation: typing 3.5s steps(15, end),
    	         blink-caret .75s step-end ;		
}
	
	
}
@media(max-width:768px){
	header{
		margin-bottom: 180px;
	}
	.landing-text{
		flex-direction: column;
	}
	.front{
		margin-bottom: 20px;
	}
	
	.front2 img{
		width: 350px;
	}
	.landing-text h1{
		font-size: 7rem;
	}
	.nav-list{
		flex-direction: column;
	}
	li{
		margin: 2rem 0;
		
	}
	.nav-link{
		font-size: 3.5rem;
	}
	
	.about-heading h1{
		font-size: 7rem;
	}
	.section-heading h1{
		font-size: 3rem;
	}
	.about .container{
		flex-direction: column;
	}
	.profile-img{
		margin: 0 0 7rem 0;
	}
	.about-details .nav-list{
		flex-direction: initial;
	}
	
	.about-details li{
		margin:0 2rem;
	}
	.icon-container{
		width: 7rem;
		height: 7rem;
	}
	.icon-container i{
		font-size: 4rem;
	}
	.timeline ul{
		margin: 0 0 0 auto;
		padding-left: 14px;
	}
	.timeline ul p{
		font-size: 1.5rem;
	}
	.timeline .date::before{
		left: -14rem;
		
	}
	.timeline .date::after{
		left: -2.1rem;
		width: 1rem;
		height: 1rem;
	}
	.landing-text h1{
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	  white-space: nowrap; /* Keeps the content on a single line */
	  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	  /* Adjust as needed */
	  animation: typing 3.5s steps(15, end),
    	         blink-caret .75s step-end ;
}
	
}
@media(max-width:600px){
	header{
		margin-bottom: 180px;
	}
	.landing-text{
		flex-direction: column;
	}
	.front{
		margin-bottom: 20px;
	}
	
	.front2 img{
		width: 300px;
	}
	.menu-toggler{
		top: 2rem;
		right: 2rem;
	}
	.landing-text h1{
		font-size: 7rem;
	}
	.landing-text h6{
		font-size: 1.5rem;
	}
	.nav-link{
		font-size: 3.5rem;
		
	}
	.about .container{
		flex-direction: column;
	}
	.about-details .nav-list{
		flex-direction: initial;
	}
	.profile-img{
		margin: 0 0 7rem 0;
	}
	.portfolio-item{
		flex-direction: column;
	}
	.portfolio-img{
		margin: 0 0 2rem 0;
	}
	.portfolio-description{
		margin: 0;
		order: 2;
	}
	form{
		width: 100%;
	}
	.up{
		right:2rem;
	}
}
/*end queries */
